.name{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: gray;
}

.main{
    /* border: 2px solid black; */
    display: inline-block;
    width: 1000px;
    height: 550px;
    padding: 64px;
    margin-left: 200px;
}
.child-1{
    display: inline-block;
    width: 440px;
    height: 550px;
}
.child-2{
    display: inline-block;
    width: 400px ;
    height: 350px;
    text-align: center;
    padding: 50px;
    margin-bottom: 150px;
}
.child-3{
    width: 400px;
    display: inline-block;
}
p{
    text-align: justify;
}
img{
    width: 100%
}
h1{
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
h5{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
}


.food{
    display: inline-block;
    height: 600px;
    width: 500px;
    margin-left: 250px;
}
.image{
    display: inline-block;
    width: 440px;
    height: 550px;
    margin-left: 60px;
}
.pic{
    border-radius: 8px;
}
h1{
    text-align: center;
}

.head{
    text-align: left;
}
.contact{
    margin-left: 250px;
    width: 1000px;
    padding-bottom: 100px;
}
h3{
    color: lightslategray;
}

input{
    width: 1000px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(54, 55, 56);
}
.message{
    border: 2px solid black;
    height: 60px;
    border-radius: 5px;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 2px;
}
h4{
    font-family: "Playfair Display";
    letter-spacing: 3px;
    font-size: 18px;
}