.main{
    text-align: center;
    padding-bottom: 50px;
}
.aj{
    position: absolute;
    top: 50%;
    left: 43%;
    color: white;

}
span{
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 8px 16px;
}
.pro{
    margin: 20px;
}
.container{
    display: inline-block;
    padding-bottom: 18px;
}
h3{
    background-color: black;
    position: absolute;
    top: 0%;
    color:white;
    margin: 0%;
    padding: 5px;
}
.child1{
    position: relative;
    display: inline-block;
    padding-right: 12px;
    padding-left: 20px;
}
.child2{
    position: relative;
    display: inline-block;
    padding-right: 12px;
}
.child3 {
    position: relative;
    display: inline-block;
    padding-right: 12px;
}
.child4{
    position: relative;
    display: inline-block;
}
.container2{
    display: inline-block;
    padding-bottom: 60px;
}
.child5{
    position : relative;
    display: inline-block;
    padding-right: 12px;
    padding-left: 20px;
}
.child6 {
    position: relative;
    display: inline-block;
    padding-right: 12px;
}
.child7 {
    position: relative;
    display: inline-block;
    padding-right: 12px;
}
.child8 {
    position: relative;
    display: inline-block;
    padding-right: 12px;
}
p{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.p{
    margin: 20px;
}

.picture{
    display: inline-block;
    padding-left: 20px;
}
.pic1,.pic2,.pic3,.pic4{
    width: 350px;
    display: inline-block;
    padding-right: 12px;
}
p{
    text-align: justify;
}
